
-- =========================
-- ENUMS
-- =========================
CREATE TYPE public.workshop_role AS ENUM ('dono', 'mecanico', 'atendente');
CREATE TYPE public.order_status AS ENUM ('aguardando', 'em_andamento', 'pronto', 'entregue');
CREATE TYPE public.appointment_type AS ENUM ('entrada', 'entrega', 'revisao');
CREATE TYPE public.subscription_plan AS ENUM ('essencial', 'profissional', 'premium');

-- =========================
-- TABLES
-- =========================

CREATE TABLE public.workshops (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  name text NOT NULL,
  whatsapp text,
  email text,
  address text,
  logo_url text,
  plan public.subscription_plan NOT NULL DEFAULT 'essencial',
  created_at timestamptz NOT NULL DEFAULT now(),
  updated_at timestamptz NOT NULL DEFAULT now()
);

CREATE TABLE public.profiles (
  id uuid PRIMARY KEY REFERENCES auth.users(id) ON DELETE CASCADE,
  full_name text,
  avatar_url text,
  created_at timestamptz NOT NULL DEFAULT now(),
  updated_at timestamptz NOT NULL DEFAULT now()
);

CREATE TABLE public.workshop_members (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  workshop_id uuid NOT NULL REFERENCES public.workshops(id) ON DELETE CASCADE,
  user_id uuid NOT NULL REFERENCES auth.users(id) ON DELETE CASCADE,
  role public.workshop_role NOT NULL DEFAULT 'mecanico',
  created_at timestamptz NOT NULL DEFAULT now(),
  UNIQUE (workshop_id, user_id)
);

CREATE INDEX idx_members_user ON public.workshop_members(user_id);
CREATE INDEX idx_members_workshop ON public.workshop_members(workshop_id);

CREATE TABLE public.clients (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  workshop_id uuid NOT NULL REFERENCES public.workshops(id) ON DELETE CASCADE,
  name text NOT NULL,
  phone text,
  email text,
  document text,
  notes text,
  last_service_at timestamptz,
  created_at timestamptz NOT NULL DEFAULT now(),
  updated_at timestamptz NOT NULL DEFAULT now()
);
CREATE INDEX idx_clients_workshop ON public.clients(workshop_id);

CREATE TABLE public.vehicles (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  workshop_id uuid NOT NULL REFERENCES public.workshops(id) ON DELETE CASCADE,
  client_id uuid NOT NULL REFERENCES public.clients(id) ON DELETE CASCADE,
  brand text NOT NULL,
  model text NOT NULL,
  year int,
  plate text,
  color text,
  mileage int,
  created_at timestamptz NOT NULL DEFAULT now(),
  updated_at timestamptz NOT NULL DEFAULT now()
);
CREATE INDEX idx_vehicles_workshop ON public.vehicles(workshop_id);
CREATE INDEX idx_vehicles_client ON public.vehicles(client_id);

CREATE TABLE public.orders (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  workshop_id uuid NOT NULL REFERENCES public.workshops(id) ON DELETE CASCADE,
  client_id uuid NOT NULL REFERENCES public.clients(id) ON DELETE RESTRICT,
  vehicle_id uuid NOT NULL REFERENCES public.vehicles(id) ON DELETE RESTRICT,
  number serial,
  reported_problem text,
  service_done text,
  parts_used text,
  amount numeric(12,2) NOT NULL DEFAULT 0,
  status public.order_status NOT NULL DEFAULT 'aguardando',
  entry_date date NOT NULL DEFAULT CURRENT_DATE,
  expected_delivery date,
  paid boolean NOT NULL DEFAULT false,
  created_at timestamptz NOT NULL DEFAULT now(),
  updated_at timestamptz NOT NULL DEFAULT now()
);
CREATE INDEX idx_orders_workshop ON public.orders(workshop_id);
CREATE INDEX idx_orders_status ON public.orders(workshop_id, status);

CREATE TABLE public.appointments (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  workshop_id uuid NOT NULL REFERENCES public.workshops(id) ON DELETE CASCADE,
  client_id uuid REFERENCES public.clients(id) ON DELETE SET NULL,
  vehicle_id uuid REFERENCES public.vehicles(id) ON DELETE SET NULL,
  scheduled_at timestamptz NOT NULL,
  type public.appointment_type NOT NULL DEFAULT 'entrada',
  service text,
  notes text,
  created_at timestamptz NOT NULL DEFAULT now()
);
CREATE INDEX idx_appointments_workshop_date ON public.appointments(workshop_id, scheduled_at);

-- =========================
-- SECURITY DEFINER HELPERS
-- =========================

CREATE OR REPLACE FUNCTION public.is_workshop_member(_user_id uuid, _workshop_id uuid)
RETURNS boolean
LANGUAGE sql STABLE SECURITY DEFINER SET search_path = public
AS $$
  SELECT EXISTS (
    SELECT 1 FROM public.workshop_members
    WHERE user_id = _user_id AND workshop_id = _workshop_id
  );
$$;

CREATE OR REPLACE FUNCTION public.has_workshop_role(_user_id uuid, _workshop_id uuid, _role public.workshop_role)
RETURNS boolean
LANGUAGE sql STABLE SECURITY DEFINER SET search_path = public
AS $$
  SELECT EXISTS (
    SELECT 1 FROM public.workshop_members
    WHERE user_id = _user_id AND workshop_id = _workshop_id AND role = _role
  );
$$;

-- updated_at trigger
CREATE OR REPLACE FUNCTION public.set_updated_at()
RETURNS trigger LANGUAGE plpgsql AS $$
BEGIN NEW.updated_at = now(); RETURN NEW; END; $$;

CREATE TRIGGER trg_workshops_updated BEFORE UPDATE ON public.workshops FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();
CREATE TRIGGER trg_profiles_updated BEFORE UPDATE ON public.profiles FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();
CREATE TRIGGER trg_clients_updated BEFORE UPDATE ON public.clients FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();
CREATE TRIGGER trg_vehicles_updated BEFORE UPDATE ON public.vehicles FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();
CREATE TRIGGER trg_orders_updated BEFORE UPDATE ON public.orders FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();

-- =========================
-- SIGNUP HANDLER
-- Creates profile + workshop + dono membership
-- =========================
CREATE OR REPLACE FUNCTION public.handle_new_user()
RETURNS trigger LANGUAGE plpgsql SECURITY DEFINER SET search_path = public
AS $$
DECLARE
  new_workshop_id uuid;
  ws_name text;
  full_name text;
BEGIN
  full_name := COALESCE(NEW.raw_user_meta_data->>'full_name', NEW.email);
  ws_name := COALESCE(NULLIF(NEW.raw_user_meta_data->>'workshop_name', ''), 'Minha Oficina');

  INSERT INTO public.profiles (id, full_name)
  VALUES (NEW.id, full_name);

  INSERT INTO public.workshops (name, whatsapp, email)
  VALUES (ws_name, NEW.raw_user_meta_data->>'whatsapp', NEW.email)
  RETURNING id INTO new_workshop_id;

  INSERT INTO public.workshop_members (workshop_id, user_id, role)
  VALUES (new_workshop_id, NEW.id, 'dono');

  RETURN NEW;
END;
$$;

CREATE TRIGGER on_auth_user_created
  AFTER INSERT ON auth.users
  FOR EACH ROW EXECUTE FUNCTION public.handle_new_user();

-- =========================
-- RLS
-- =========================
ALTER TABLE public.workshops ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.profiles ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.workshop_members ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.clients ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.vehicles ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.orders ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.appointments ENABLE ROW LEVEL SECURITY;

-- profiles
CREATE POLICY "users read own profile" ON public.profiles FOR SELECT TO authenticated USING (id = auth.uid());
CREATE POLICY "users update own profile" ON public.profiles FOR UPDATE TO authenticated USING (id = auth.uid());

-- workshops
CREATE POLICY "members read workshop" ON public.workshops FOR SELECT TO authenticated
  USING (public.is_workshop_member(auth.uid(), id));
CREATE POLICY "owner updates workshop" ON public.workshops FOR UPDATE TO authenticated
  USING (public.has_workshop_role(auth.uid(), id, 'dono'));

-- workshop_members
CREATE POLICY "members read members" ON public.workshop_members FOR SELECT TO authenticated
  USING (public.is_workshop_member(auth.uid(), workshop_id));
CREATE POLICY "owner manages members insert" ON public.workshop_members FOR INSERT TO authenticated
  WITH CHECK (public.has_workshop_role(auth.uid(), workshop_id, 'dono'));
CREATE POLICY "owner manages members update" ON public.workshop_members FOR UPDATE TO authenticated
  USING (public.has_workshop_role(auth.uid(), workshop_id, 'dono'));
CREATE POLICY "owner manages members delete" ON public.workshop_members FOR DELETE TO authenticated
  USING (public.has_workshop_role(auth.uid(), workshop_id, 'dono'));

-- generic helper: members can SELECT/INSERT/UPDATE; only owner can DELETE
CREATE POLICY "members read clients" ON public.clients FOR SELECT TO authenticated
  USING (public.is_workshop_member(auth.uid(), workshop_id));
CREATE POLICY "members insert clients" ON public.clients FOR INSERT TO authenticated
  WITH CHECK (public.is_workshop_member(auth.uid(), workshop_id));
CREATE POLICY "members update clients" ON public.clients FOR UPDATE TO authenticated
  USING (public.is_workshop_member(auth.uid(), workshop_id));
CREATE POLICY "owner deletes clients" ON public.clients FOR DELETE TO authenticated
  USING (public.has_workshop_role(auth.uid(), workshop_id, 'dono'));

CREATE POLICY "members read vehicles" ON public.vehicles FOR SELECT TO authenticated
  USING (public.is_workshop_member(auth.uid(), workshop_id));
CREATE POLICY "members insert vehicles" ON public.vehicles FOR INSERT TO authenticated
  WITH CHECK (public.is_workshop_member(auth.uid(), workshop_id));
CREATE POLICY "members update vehicles" ON public.vehicles FOR UPDATE TO authenticated
  USING (public.is_workshop_member(auth.uid(), workshop_id));
CREATE POLICY "owner deletes vehicles" ON public.vehicles FOR DELETE TO authenticated
  USING (public.has_workshop_role(auth.uid(), workshop_id, 'dono'));

CREATE POLICY "members read orders" ON public.orders FOR SELECT TO authenticated
  USING (public.is_workshop_member(auth.uid(), workshop_id));
CREATE POLICY "members insert orders" ON public.orders FOR INSERT TO authenticated
  WITH CHECK (public.is_workshop_member(auth.uid(), workshop_id));
CREATE POLICY "members update orders" ON public.orders FOR UPDATE TO authenticated
  USING (public.is_workshop_member(auth.uid(), workshop_id));
CREATE POLICY "owner deletes orders" ON public.orders FOR DELETE TO authenticated
  USING (public.has_workshop_role(auth.uid(), workshop_id, 'dono'));

CREATE POLICY "members read appointments" ON public.appointments FOR SELECT TO authenticated
  USING (public.is_workshop_member(auth.uid(), workshop_id));
CREATE POLICY "members insert appointments" ON public.appointments FOR INSERT TO authenticated
  WITH CHECK (public.is_workshop_member(auth.uid(), workshop_id));
CREATE POLICY "members update appointments" ON public.appointments FOR UPDATE TO authenticated
  USING (public.is_workshop_member(auth.uid(), workshop_id));
CREATE POLICY "members delete appointments" ON public.appointments FOR DELETE TO authenticated
  USING (public.is_workshop_member(auth.uid(), workshop_id));

-- Lock down SECURITY DEFINER functions
REVOKE EXECUTE ON FUNCTION public.is_workshop_member(uuid, uuid) FROM PUBLIC, anon;
REVOKE EXECUTE ON FUNCTION public.has_workshop_role(uuid, uuid, public.workshop_role) FROM PUBLIC, anon;
REVOKE EXECUTE ON FUNCTION public.handle_new_user() FROM PUBLIC, anon, authenticated;
REVOKE EXECUTE ON FUNCTION public.set_updated_at() FROM PUBLIC, anon, authenticated;

GRANT EXECUTE ON FUNCTION public.is_workshop_member(uuid, uuid) TO authenticated;
GRANT EXECUTE ON FUNCTION public.has_workshop_role(uuid, uuid, public.workshop_role) TO authenticated;

CREATE OR REPLACE FUNCTION public.set_updated_at()
RETURNS trigger
LANGUAGE plpgsql
SECURITY INVOKER
SET search_path = public
AS $$
BEGIN
  NEW.updated_at = now();
  RETURN NEW;
END;
$$;

CREATE TABLE public.workshop_invites (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  workshop_id uuid NOT NULL,
  email text NOT NULL,
  role workshop_role NOT NULL DEFAULT 'mecanico',
  token text NOT NULL UNIQUE DEFAULT encode(gen_random_bytes(24), 'hex'),
  invited_by uuid NOT NULL,
  accepted_at timestamptz,
  expires_at timestamptz NOT NULL DEFAULT (now() + interval '14 days'),
  created_at timestamptz NOT NULL DEFAULT now()
);

CREATE INDEX idx_workshop_invites_email ON public.workshop_invites (lower(email));
CREATE INDEX idx_workshop_invites_workshop ON public.workshop_invites (workshop_id);

ALTER TABLE public.workshop_invites ENABLE ROW LEVEL SECURITY;

CREATE POLICY "members read invites"
  ON public.workshop_invites FOR SELECT TO authenticated
  USING (public.is_workshop_member(auth.uid(), workshop_id));

CREATE POLICY "owner creates invites"
  ON public.workshop_invites FOR INSERT TO authenticated
  WITH CHECK (public.has_workshop_role(auth.uid(), workshop_id, 'dono'::workshop_role));

CREATE POLICY "owner deletes invites"
  ON public.workshop_invites FOR DELETE TO authenticated
  USING (public.has_workshop_role(auth.uid(), workshop_id, 'dono'::workshop_role));

-- Update handle_new_user to auto-accept invites if email matches
CREATE OR REPLACE FUNCTION public.handle_new_user()
RETURNS trigger
LANGUAGE plpgsql
SECURITY DEFINER
SET search_path TO 'public'
AS $function$
DECLARE
  new_workshop_id uuid;
  ws_name text;
  full_name text;
  invite_record record;
  has_invite boolean := false;
BEGIN
  full_name := COALESCE(NEW.raw_user_meta_data->>'full_name', NEW.email);

  INSERT INTO public.profiles (id, full_name)
  VALUES (NEW.id, full_name);

  -- Check for pending invites for this email
  FOR invite_record IN
    SELECT id, workshop_id, role FROM public.workshop_invites
    WHERE lower(email) = lower(NEW.email)
      AND accepted_at IS NULL
      AND expires_at > now()
  LOOP
    has_invite := true;
    INSERT INTO public.workshop_members (workshop_id, user_id, role)
    VALUES (invite_record.workshop_id, NEW.id, invite_record.role)
    ON CONFLICT DO NOTHING;
    UPDATE public.workshop_invites SET accepted_at = now() WHERE id = invite_record.id;
  END LOOP;

  -- If no invite, create their own workshop
  IF NOT has_invite THEN
    ws_name := COALESCE(NULLIF(NEW.raw_user_meta_data->>'workshop_name', ''), 'Minha Oficina');
    INSERT INTO public.workshops (name, whatsapp, email)
    VALUES (ws_name, NEW.raw_user_meta_data->>'whatsapp', NEW.email)
    RETURNING id INTO new_workshop_id;

    INSERT INTO public.workshop_members (workshop_id, user_id, role)
    VALUES (new_workshop_id, NEW.id, 'dono');
  END IF;

  RETURN NEW;
END;
$function$;

-- Make sure the trigger exists
DROP TRIGGER IF EXISTS on_auth_user_created ON auth.users;
CREATE TRIGGER on_auth_user_created
  AFTER INSERT ON auth.users
  FOR EACH ROW EXECUTE FUNCTION public.handle_new_user();

-- Bucket pÃºblico para logos
INSERT INTO storage.buckets (id, name, public)
VALUES ('workshop-logos', 'workshop-logos', true)
ON CONFLICT (id) DO NOTHING;

-- Leitura pÃºblica
CREATE POLICY "logos publicly readable"
ON storage.objects FOR SELECT
USING (bucket_id = 'workshop-logos');

-- Owner pode upload/update/delete em sua pasta {workshop_id}/...
CREATE POLICY "owner upload logo"
ON storage.objects FOR INSERT
TO authenticated
WITH CHECK (
  bucket_id = 'workshop-logos'
  AND public.has_workshop_role(auth.uid(), ((storage.foldername(name))[1])::uuid, 'dono'::workshop_role)
);

CREATE POLICY "owner update logo"
ON storage.objects FOR UPDATE
TO authenticated
USING (
  bucket_id = 'workshop-logos'
  AND public.has_workshop_role(auth.uid(), ((storage.foldername(name))[1])::uuid, 'dono'::workshop_role)
);

CREATE POLICY "owner delete logo"
ON storage.objects FOR DELETE
TO authenticated
USING (
  bucket_id = 'workshop-logos'
  AND public.has_workshop_role(auth.uid(), ((storage.foldername(name))[1])::uuid, 'dono'::workshop_role)
);
-- Extensions needed
CREATE EXTENSION IF NOT EXISTS pgmq CASCADE;
CREATE EXTENSION IF NOT EXISTS pg_cron;
CREATE EXTENSION IF NOT EXISTS pg_net;

-- Create the durable queue
SELECT pgmq.create('automations');

-- Status enum
DO $$ BEGIN
  CREATE TYPE public.automation_status AS ENUM ('pending', 'processing', 'sent', 'failed', 'dlq');
EXCEPTION WHEN duplicate_object THEN NULL; END $$;

DO $$ BEGIN
  CREATE TYPE public.automation_kind AS ENUM (
    'whatsapp_order_ready',
    'whatsapp_payment_due',
    'whatsapp_appointment_reminder',
    'whatsapp_custom'
  );
EXCEPTION WHEN duplicate_object THEN NULL; END $$;

-- Audit/log table
CREATE TABLE IF NOT EXISTS public.automation_jobs (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  workshop_id uuid NOT NULL,
  kind public.automation_kind NOT NULL,
  status public.automation_status NOT NULL DEFAULT 'pending',
  payload jsonb NOT NULL DEFAULT '{}'::jsonb,
  attempts int NOT NULL DEFAULT 0,
  max_attempts int NOT NULL DEFAULT 5,
  last_error text,
  scheduled_for timestamptz NOT NULL DEFAULT now(),
  processed_at timestamptz,
  msg_id bigint,
  created_at timestamptz NOT NULL DEFAULT now(),
  updated_at timestamptz NOT NULL DEFAULT now()
);

CREATE INDEX IF NOT EXISTS automation_jobs_workshop_idx ON public.automation_jobs(workshop_id, created_at DESC);
CREATE INDEX IF NOT EXISTS automation_jobs_status_idx ON public.automation_jobs(status, scheduled_for);

-- updated_at trigger
DROP TRIGGER IF EXISTS automation_jobs_updated_at ON public.automation_jobs;
CREATE TRIGGER automation_jobs_updated_at
  BEFORE UPDATE ON public.automation_jobs
  FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();

ALTER TABLE public.automation_jobs ENABLE ROW LEVEL SECURITY;

CREATE POLICY "members read automation jobs"
  ON public.automation_jobs FOR SELECT
  TO authenticated
  USING (public.is_workshop_member(auth.uid(), workshop_id));

CREATE POLICY "members insert automation jobs"
  ON public.automation_jobs FOR INSERT
  TO authenticated
  WITH CHECK (public.is_workshop_member(auth.uid(), workshop_id));

CREATE POLICY "owner updates automation jobs"
  ON public.automation_jobs FOR UPDATE
  TO authenticated
  USING (public.has_workshop_role(auth.uid(), workshop_id, 'dono'::workshop_role));

CREATE POLICY "owner deletes automation jobs"
  ON public.automation_jobs FOR DELETE
  TO authenticated
  USING (public.has_workshop_role(auth.uid(), workshop_id, 'dono'::workshop_role));

-- ====== RPCs (SECURITY DEFINER) ======

-- Enqueue a job: creates audit row + sends pgmq message linking via msg_id
CREATE OR REPLACE FUNCTION public.enqueue_automation(
  _workshop_id uuid,
  _kind public.automation_kind,
  _payload jsonb,
  _delay_seconds int DEFAULT 0
) RETURNS uuid
LANGUAGE plpgsql
SECURITY DEFINER
SET search_path = public, pgmq
AS $$
DECLARE
  job_id uuid;
  message_id bigint;
BEGIN
  -- Auth: only members can enqueue for their workshop
  IF NOT public.is_workshop_member(auth.uid(), _workshop_id) THEN
    RAISE EXCEPTION 'Not a member of workshop %', _workshop_id USING ERRCODE = '42501';
  END IF;

  INSERT INTO public.automation_jobs (workshop_id, kind, payload, scheduled_for)
  VALUES (_workshop_id, _kind, COALESCE(_payload, '{}'::jsonb), now() + make_interval(secs => _delay_seconds))
  RETURNING id INTO job_id;

  SELECT pgmq.send(
    queue_name => 'automations',
    msg => jsonb_build_object('job_id', job_id),
    delay => _delay_seconds
  ) INTO message_id;

  UPDATE public.automation_jobs SET msg_id = message_id WHERE id = job_id;
  RETURN job_id;
END;
$$;

-- Worker: read a batch (called by edge function with service role)
CREATE OR REPLACE FUNCTION public.dequeue_automations(_batch int DEFAULT 10, _vt int DEFAULT 60)
RETURNS TABLE (msg_id bigint, read_ct int, message jsonb, job_id uuid, workshop_id uuid, kind public.automation_kind, payload jsonb, attempts int, max_attempts int)
LANGUAGE plpgsql
SECURITY DEFINER
SET search_path = public, pgmq
AS $$
BEGIN
  RETURN QUERY
  WITH popped AS (
    SELECT q.msg_id, q.read_ct, q.message
    FROM pgmq.read('automations', _vt, _batch) q
  ),
  marked AS (
    UPDATE public.automation_jobs j
    SET status = 'processing', attempts = j.attempts + 1, updated_at = now()
    FROM popped p
    WHERE j.id = (p.message->>'job_id')::uuid
      AND j.scheduled_for <= now()
    RETURNING j.id, j.workshop_id, j.kind, j.payload, j.attempts, j.max_attempts, p.msg_id, p.read_ct, p.message
  )
  SELECT m.msg_id, m.read_ct, m.message, m.id, m.workshop_id, m.kind, m.payload, m.attempts, m.max_attempts FROM marked m;
END;
$$;

-- Mark success
CREATE OR REPLACE FUNCTION public.complete_automation(_job_id uuid, _msg_id bigint)
RETURNS void
LANGUAGE plpgsql
SECURITY DEFINER
SET search_path = public, pgmq
AS $$
BEGIN
  UPDATE public.automation_jobs
  SET status = 'sent', processed_at = now(), last_error = NULL, updated_at = now()
  WHERE id = _job_id;
  PERFORM pgmq.delete('automations', _msg_id);
END;
$$;

-- Mark failure with retry (exponential backoff in seconds: 30, 120, 300, 900, 1800)
CREATE OR REPLACE FUNCTION public.fail_automation(_job_id uuid, _msg_id bigint, _error text)
RETURNS void
LANGUAGE plpgsql
SECURITY DEFINER
SET search_path = public, pgmq
AS $$
DECLARE
  j record;
  backoff int;
BEGIN
  SELECT * INTO j FROM public.automation_jobs WHERE id = _job_id;
  IF NOT FOUND THEN
    PERFORM pgmq.delete('automations', _msg_id);
    RETURN;
  END IF;

  IF j.attempts >= j.max_attempts THEN
    UPDATE public.automation_jobs
    SET status = 'dlq', last_error = _error, processed_at = now(), updated_at = now()
    WHERE id = _job_id;
    PERFORM pgmq.archive('automations', _msg_id);
  ELSE
    backoff := CASE j.attempts
      WHEN 1 THEN 30
      WHEN 2 THEN 120
      WHEN 3 THEN 300
      WHEN 4 THEN 900
      ELSE 1800
    END;
    UPDATE public.automation_jobs
    SET status = 'pending', last_error = _error, scheduled_for = now() + make_interval(secs => backoff), updated_at = now()
    WHERE id = _job_id;
    -- Make message visible again after backoff (set vt)
    PERFORM pgmq.set_vt('automations', _msg_id, backoff);
  END IF;
END;
$$;

-- Manual retry (owner can re-enqueue a failed/dlq job)
CREATE OR REPLACE FUNCTION public.retry_automation(_job_id uuid)
RETURNS void
LANGUAGE plpgsql
SECURITY DEFINER
SET search_path = public, pgmq
AS $$
DECLARE
  j record;
  message_id bigint;
BEGIN
  SELECT * INTO j FROM public.automation_jobs WHERE id = _job_id;
  IF NOT FOUND THEN RAISE EXCEPTION 'Job not found'; END IF;
  IF NOT public.has_workshop_role(auth.uid(), j.workshop_id, 'dono'::workshop_role) THEN
    RAISE EXCEPTION 'Only owner can retry' USING ERRCODE = '42501';
  END IF;

  UPDATE public.automation_jobs
  SET status = 'pending', attempts = 0, last_error = NULL, scheduled_for = now(), updated_at = now()
  WHERE id = _job_id;

  SELECT pgmq.send('automations', jsonb_build_object('job_id', _job_id), 0) INTO message_id;
  UPDATE public.automation_jobs SET msg_id = message_id WHERE id = _job_id;
END;
$$;

-- Permissions
GRANT EXECUTE ON FUNCTION public.enqueue_automation(uuid, public.automation_kind, jsonb, int) TO authenticated;
GRANT EXECUTE ON FUNCTION public.retry_automation(uuid) TO authenticated;
GRANT EXECUTE ON FUNCTION public.dequeue_automations(int, int) TO service_role;
GRANT EXECUTE ON FUNCTION public.complete_automation(uuid, bigint) TO service_role;
GRANT EXECUTE ON FUNCTION public.fail_automation(uuid, bigint, text) TO service_role;
REVOKE EXECUTE ON FUNCTION public.enqueue_automation(uuid, public.automation_kind, jsonb, int) FROM PUBLIC, anon;
REVOKE EXECUTE ON FUNCTION public.retry_automation(uuid) FROM PUBLIC, anon;
REVOKE EXECUTE ON FUNCTION public.dequeue_automations(int, int) FROM PUBLIC, anon, authenticated;
REVOKE EXECUTE ON FUNCTION public.complete_automation(uuid, bigint) FROM PUBLIC, anon, authenticated;
REVOKE EXECUTE ON FUNCTION public.fail_automation(uuid, bigint, text) FROM PUBLIC, anon, authenticated;

-- 1) Add paid_at column to orders for accurate financial reporting
ALTER TABLE public.orders ADD COLUMN IF NOT EXISTS paid_at timestamptz;
UPDATE public.orders SET paid_at = updated_at WHERE paid = true AND paid_at IS NULL;

-- 2) Trigger: keep paid_at in sync with paid
CREATE OR REPLACE FUNCTION public.sync_order_paid_at()
RETURNS trigger
LANGUAGE plpgsql
SET search_path = public
AS $$
BEGIN
  IF (TG_OP = 'INSERT') THEN
    IF NEW.paid = true AND NEW.paid_at IS NULL THEN
      NEW.paid_at = now();
    END IF;
  ELSIF (TG_OP = 'UPDATE') THEN
    IF NEW.paid = true AND (OLD.paid IS DISTINCT FROM true) THEN
      NEW.paid_at = now();
    ELSIF NEW.paid = false AND OLD.paid = true THEN
      NEW.paid_at = NULL;
    END IF;
  END IF;
  RETURN NEW;
END;
$$;

DROP TRIGGER IF EXISTS trg_orders_sync_paid_at ON public.orders;
CREATE TRIGGER trg_orders_sync_paid_at
BEFORE INSERT OR UPDATE OF paid ON public.orders
FOR EACH ROW EXECUTE FUNCTION public.sync_order_paid_at();

-- 3) updated_at trigger to keep timestamps reliable
DROP TRIGGER IF EXISTS trg_orders_updated_at ON public.orders;
CREATE TRIGGER trg_orders_updated_at
BEFORE UPDATE ON public.orders
FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();

DROP TRIGGER IF EXISTS trg_clients_updated_at ON public.clients;
CREATE TRIGGER trg_clients_updated_at
BEFORE UPDATE ON public.clients
FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();

DROP TRIGGER IF EXISTS trg_vehicles_updated_at ON public.vehicles;
CREATE TRIGGER trg_vehicles_updated_at
BEFORE UPDATE ON public.vehicles
FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();

DROP TRIGGER IF EXISTS trg_workshops_updated_at ON public.workshops;
CREATE TRIGGER trg_workshops_updated_at
BEFORE UPDATE ON public.workshops
FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();

-- 4) Lock down workshop-logos bucket: drop broad policies, add per-workshop ones
DROP POLICY IF EXISTS "Logos pÃºblicos sÃ£o visÃ­veis" ON storage.objects;
DROP POLICY IF EXISTS "Public read workshop-logos" ON storage.objects;
DROP POLICY IF EXISTS "owners upload workshop logos" ON storage.objects;
DROP POLICY IF EXISTS "owners update workshop logos" ON storage.objects;
DROP POLICY IF EXISTS "owners delete workshop logos" ON storage.objects;

-- Anyone can read individual logo files (needed since URL is public on sidebar)
CREATE POLICY "read workshop logo files"
ON storage.objects FOR SELECT
USING (bucket_id = 'workshop-logos');

-- Only workshop owners can upload to their own folder
CREATE POLICY "owners upload workshop logos"
ON storage.objects FOR INSERT TO authenticated
WITH CHECK (
  bucket_id = 'workshop-logos'
  AND public.has_workshop_role(auth.uid(), ((storage.foldername(name))[1])::uuid, 'dono'::workshop_role)
);

CREATE POLICY "owners update workshop logos"
ON storage.objects FOR UPDATE TO authenticated
USING (
  bucket_id = 'workshop-logos'
  AND public.has_workshop_role(auth.uid(), ((storage.foldername(name))[1])::uuid, 'dono'::workshop_role)
);

CREATE POLICY "owners delete workshop logos"
ON storage.objects FOR DELETE TO authenticated
USING (
  bucket_id = 'workshop-logos'
  AND public.has_workshop_role(auth.uid(), ((storage.foldername(name))[1])::uuid, 'dono'::workshop_role)
);

-- 5) Helpful indexes for performance with multiple workshops
CREATE INDEX IF NOT EXISTS idx_orders_workshop ON public.orders(workshop_id);
CREATE INDEX IF NOT EXISTS idx_orders_workshop_paid_at ON public.orders(workshop_id, paid_at DESC) WHERE paid = true;
CREATE INDEX IF NOT EXISTS idx_orders_workshop_status ON public.orders(workshop_id, status);
CREATE INDEX IF NOT EXISTS idx_clients_workshop ON public.clients(workshop_id);
CREATE INDEX IF NOT EXISTS idx_vehicles_workshop ON public.vehicles(workshop_id);
CREATE INDEX IF NOT EXISTS idx_appointments_workshop_date ON public.appointments(workshop_id, scheduled_at);
CREATE INDEX IF NOT EXISTS idx_workshop_members_user ON public.workshop_members(user_id);
CREATE EXTENSION IF NOT EXISTS pg_trgm;

CREATE INDEX IF NOT EXISTS idx_vehicles_workshop_plate
  ON public.vehicles (workshop_id, plate);

CREATE INDEX IF NOT EXISTS idx_vehicles_plate_trgm
  ON public.vehicles USING gin (plate gin_trgm_ops);

CREATE INDEX IF NOT EXISTS idx_orders_vehicle_entry
  ON public.orders (vehicle_id, entry_date DESC);
-- Adicionar novos status ao ENUM order_status
ALTER TYPE public.order_status ADD VALUE IF NOT EXISTS 'recebido';
ALTER TYPE public.order_status ADD VALUE IF NOT EXISTS 'em_analise';
ALTER TYPE public.order_status ADD VALUE IF NOT EXISTS 'aguardando_aprovacao';
ALTER TYPE public.order_status ADD VALUE IF NOT EXISTS 'em_manutencao';

-- Adicionar is_approved na tabela orders
ALTER TABLE public.orders ADD COLUMN is_approved boolean NOT NULL DEFAULT false;

-- Criar tabela client_portal_tokens
CREATE TABLE public.client_portal_tokens (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  client_id uuid NOT NULL REFERENCES public.clients(id) ON DELETE CASCADE,
  token text NOT NULL UNIQUE,
  expires_at timestamptz,
  created_at timestamptz NOT NULL DEFAULT now()
);
CREATE INDEX idx_client_portal_tokens_client ON public.client_portal_tokens(client_id);
CREATE INDEX idx_client_portal_tokens_token ON public.client_portal_tokens(token);

-- RLS para client_portal_tokens
ALTER TABLE public.client_portal_tokens ENABLE ROW LEVEL SECURITY;
CREATE POLICY "members manage tokens" ON public.client_portal_tokens FOR ALL TO authenticated USING (
    EXISTS (SELECT 1 FROM public.clients c WHERE c.id = client_id AND public.is_workshop_member(auth.uid(), c.workshop_id))
);

-- RPC para buscar os dados do portal de forma segura (Acesso anÃ´nimo via token)
CREATE OR REPLACE FUNCTION public.get_portal_data(p_token text)
RETURNS json
LANGUAGE plpgsql
SECURITY DEFINER
SET search_path = public
AS $$
DECLARE
    v_client_id uuid;
    v_workshop_id uuid;
    v_result json;
BEGIN
    -- Verifica o token
    SELECT client_id INTO v_client_id FROM public.client_portal_tokens 
    WHERE token = p_token AND (expires_at IS NULL OR expires_at > now());
    
    IF v_client_id IS NULL THEN
        RETURN NULL;
    END IF;

    -- Pega o workshop_id para buscar os dados da oficina
    SELECT workshop_id INTO v_workshop_id FROM public.clients WHERE id = v_client_id;

    -- Monta o payload completo
    SELECT json_build_object(
        'workshop', (SELECT row_to_json(w) FROM (SELECT name, whatsapp, logo_url FROM public.workshops WHERE id = v_workshop_id) w),
        'client', (SELECT row_to_json(c) FROM (SELECT id, name, phone FROM public.clients WHERE id = v_client_id) c),
        'vehicles', (SELECT COALESCE(json_agg(row_to_json(v)), '[]'::json) FROM (SELECT id, brand, model, plate FROM public.vehicles WHERE client_id = v_client_id) v),
        'orders', (SELECT COALESCE(json_agg(row_to_json(o)), '[]'::json) FROM (
            SELECT id, number, status, amount, is_approved, reported_problem, service_done, entry_date, expected_delivery, vehicle_id, items
            FROM public.orders 
            WHERE client_id = v_client_id 
            ORDER BY created_at DESC
        ) o)
    ) INTO v_result;

    RETURN v_result;
END;
$$;

-- RPC para aprovar ordem de serviÃ§o pelo portal
CREATE OR REPLACE FUNCTION public.approve_portal_order(p_token text, p_order_id uuid)
RETURNS boolean
LANGUAGE plpgsql
SECURITY DEFINER
SET search_path = public
AS $$
DECLARE
    v_client_id uuid;
BEGIN
    -- Verifica o token
    SELECT client_id INTO v_client_id FROM public.client_portal_tokens 
    WHERE token = p_token AND (expires_at IS NULL OR expires_at > now());
    
    IF v_client_id IS NULL THEN
        RETURN false;
    END IF;

    -- Atualiza a ordem
    UPDATE public.orders 
    SET is_approved = true, status = 'em_manutencao' 
    WHERE id = p_order_id AND client_id = v_client_id;
    
    RETURN FOUND;
END;
$$;
-- Migration: Phase 1 (Inventory and Vehicles expansion)

-- 1. Create Inventory Table
CREATE TABLE public.inventory (
    id UUID NOT NULL DEFAULT gen_random_uuid() PRIMARY KEY,
    workshop_id UUID NOT NULL REFERENCES public.workshops(id) ON DELETE CASCADE,
    name TEXT NOT NULL,
    sku TEXT,
    brand TEXT,
    category TEXT,
    location TEXT,
    cost_price NUMERIC(10, 2) NOT NULL DEFAULT 0,
    sale_price NUMERIC(10, 2) NOT NULL DEFAULT 0,
    current_stock INTEGER NOT NULL DEFAULT 0,
    min_stock INTEGER NOT NULL DEFAULT 0,
    supplier_name TEXT,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

CREATE INDEX idx_inventory_workshop ON public.inventory(workshop_id);

-- 2. Create Inventory Transactions Table
CREATE TABLE public.inventory_transactions (
    id UUID NOT NULL DEFAULT gen_random_uuid() PRIMARY KEY,
    workshop_id UUID NOT NULL REFERENCES public.workshops(id) ON DELETE CASCADE,
    inventory_id UUID NOT NULL REFERENCES public.inventory(id) ON DELETE CASCADE,
    type TEXT NOT NULL CHECK (type IN ('in', 'out', 'adjustment')),
    quantity INTEGER NOT NULL,
    notes TEXT,
    order_id UUID REFERENCES public.orders(id) ON DELETE SET NULL,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

CREATE INDEX idx_inventory_transactions_inventory ON public.inventory_transactions(inventory_id);

-- 3. Add new fields to vehicles table
ALTER TABLE public.vehicles
ADD COLUMN renavam TEXT,
ADD COLUMN chassi TEXT,
ADD COLUMN engine TEXT,
ADD COLUMN fuel_type TEXT;

-- 4. Enable RLS
ALTER TABLE public.inventory ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.inventory_transactions ENABLE ROW LEVEL SECURITY;

-- 5. Create Policies
CREATE POLICY "Users can view their workshop inventory"
ON public.inventory FOR SELECT
USING (workshop_id IN (SELECT workshop_id FROM public.users_profiles WHERE user_id = auth.uid()));

CREATE POLICY "Users can insert their workshop inventory"
ON public.inventory FOR INSERT
WITH CHECK (workshop_id IN (SELECT workshop_id FROM public.users_profiles WHERE user_id = auth.uid()));

CREATE POLICY "Users can update their workshop inventory"
ON public.inventory FOR UPDATE
USING (workshop_id IN (SELECT workshop_id FROM public.users_profiles WHERE user_id = auth.uid()));

CREATE POLICY "Users can delete their workshop inventory"
ON public.inventory FOR DELETE
USING (workshop_id IN (SELECT workshop_id FROM public.users_profiles WHERE user_id = auth.uid()));

CREATE POLICY "Users can view their workshop inventory transactions"
ON public.inventory_transactions FOR SELECT
USING (workshop_id IN (SELECT workshop_id FROM public.users_profiles WHERE user_id = auth.uid()));

CREATE POLICY "Users can insert their workshop inventory transactions"
ON public.inventory_transactions FOR INSERT
WITH CHECK (workshop_id IN (SELECT workshop_id FROM public.users_profiles WHERE user_id = auth.uid()));
-- MIGRATION: Phase 2 & 3 (Fornecedores, OrÃ§amentos e Regras de AutomaÃ§Ã£o)

-- 1. Create Suppliers Table
CREATE TABLE IF NOT EXISTS public.suppliers (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  workshop_id UUID NOT NULL REFERENCES public.workshops(id) ON DELETE CASCADE,
  name TEXT NOT NULL,
  contact_name TEXT,
  phone TEXT,
  email TEXT,
  document TEXT,
  notes TEXT,
  created_at TIMESTAMPTZ NOT NULL DEFAULT now(),
  updated_at TIMESTAMPTZ NOT NULL DEFAULT now()
);

ALTER TABLE public.suppliers ENABLE ROW LEVEL SECURITY;

CREATE POLICY "Users can view suppliers of their workshop"
ON public.suppliers FOR SELECT
USING (public.is_workshop_member(auth.uid(), workshop_id));

CREATE POLICY "Users can insert suppliers for their workshop"
ON public.suppliers FOR INSERT
WITH CHECK (public.is_workshop_member(auth.uid(), workshop_id));

CREATE POLICY "Users can update suppliers of their workshop"
ON public.suppliers FOR UPDATE
USING (public.is_workshop_member(auth.uid(), workshop_id));

CREATE POLICY "Users can delete suppliers of their workshop"
ON public.suppliers FOR DELETE
USING (public.is_workshop_member(auth.uid(), workshop_id));


-- 2. Create Quotes Table
CREATE TYPE quote_status AS ENUM ('novo', 'contato_feito', 'analise', 'aprovado', 'recusado');

CREATE TABLE IF NOT EXISTS public.quotes (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  workshop_id UUID NOT NULL REFERENCES public.workshops(id) ON DELETE CASCADE,
  client_id UUID NOT NULL REFERENCES public.clients(id) ON DELETE CASCADE,
  vehicle_id UUID REFERENCES public.vehicles(id) ON DELETE SET NULL,
  amount NUMERIC NOT NULL DEFAULT 0,
  status quote_status NOT NULL DEFAULT 'novo',
  notes TEXT,
  created_at TIMESTAMPTZ NOT NULL DEFAULT now(),
  updated_at TIMESTAMPTZ NOT NULL DEFAULT now()
);

ALTER TABLE public.quotes ENABLE ROW LEVEL SECURITY;

CREATE POLICY "Users can view quotes of their workshop"
ON public.quotes FOR SELECT
USING (public.is_workshop_member(auth.uid(), workshop_id));

CREATE POLICY "Users can insert quotes for their workshop"
ON public.quotes FOR INSERT
WITH CHECK (public.is_workshop_member(auth.uid(), workshop_id));

CREATE POLICY "Users can update quotes of their workshop"
ON public.quotes FOR UPDATE
USING (public.is_workshop_member(auth.uid(), workshop_id));

CREATE POLICY "Users can delete quotes of their workshop"
ON public.quotes FOR DELETE
USING (public.is_workshop_member(auth.uid(), workshop_id));


-- 3. Create Automation Rules Table
CREATE TYPE automation_rule_type AS ENUM ('service_reminder', 'birthday', 'feedback', 'payment');

CREATE TABLE IF NOT EXISTS public.automation_rules (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  workshop_id UUID NOT NULL REFERENCES public.workshops(id) ON DELETE CASCADE,
  name TEXT NOT NULL,
  type automation_rule_type NOT NULL,
  trigger_condition TEXT NOT NULL,
  message_template TEXT NOT NULL,
  is_active BOOLEAN NOT NULL DEFAULT true,
  sent_count INTEGER NOT NULL DEFAULT 0,
  created_at TIMESTAMPTZ NOT NULL DEFAULT now(),
  updated_at TIMESTAMPTZ NOT NULL DEFAULT now()
);

ALTER TABLE public.automation_rules ENABLE ROW LEVEL SECURITY;

CREATE POLICY "Users can view automation rules of their workshop"
ON public.automation_rules FOR SELECT
USING (public.is_workshop_member(auth.uid(), workshop_id));

CREATE POLICY "Users can insert automation rules for their workshop"
ON public.automation_rules FOR INSERT
WITH CHECK (public.is_workshop_member(auth.uid(), workshop_id));

CREATE POLICY "Users can update automation rules of their workshop"
ON public.automation_rules FOR UPDATE
USING (public.is_workshop_member(auth.uid(), workshop_id));

CREATE POLICY "Users can delete automation rules of their workshop"
ON public.automation_rules FOR DELETE
USING (public.is_workshop_member(auth.uid(), workshop_id));

-- Realtime replication (assuming realtime is already enabled, we add tables to publication)
ALTER PUBLICATION supabase_realtime ADD TABLE public.quotes;
ALTER PUBLICATION supabase_realtime ADD TABLE public.suppliers;
